*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --pink-light: #C59DD2;
  --pink-base: #9547A5;
  --pink-dark: #7D298A;
  --pink-low: #3F0F41;

  --blue-light: #73B6D2;
  --blue-base:#358BB9;
  --blue-mid:#2374A4;
  --blue-dark:#144A72;
  --blue-low:#08233C;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000F1F;
  --shape-background: #00050A;

  --text-title: #F8FBFB;
  --text-body: #E2E7E9;
  --text-label: #BAC6C9;

  --font-family: "Raleway", sans-serif;

  --title-lg: 700 3rem var(--font-family);
  --title-md: 700 2.5rem var(--font-family);
  --title-sm: 700 2rem var(--font-family);
  --title-xs: 700 1rem var(--font-family);
  --h2: 700 1.5rem var(--font-family);
  --subtitle: 500 1.75rem/2 var(--font-family);
  --body-lg: 400 1.25rem/1.4 var(--font-family);
  --body-md: 400 1rem/1.4 var(--font-family);
  --body-sm: 400 0.875rem/1.4 var(--font-family);
  --body-xs: 400 0.75rem/1.4 var(--font-family);
  --button: 700 0.875rem var(--font-family);
  --link: 500 0.875rem var(--font-family);
  --tag: 700 0.625rem var(--font-family); 

  --tag-transform: uppercase;
  --tag-letter-spacing: 0.05em;
}

body{
  background-color: var(--shape-background);
  font: var(--body-sm);
  overflow-x: hidden;
}

.container{
  max-width: 80em;
  margin-inline: auto;
}

a { 
  text-decoration: none;
  font: var(--button);

  color: var(--text-title);
}

h1{
  font: var(--title-lg);
  color: var(--text-title);
}

h2{
  font: var(--title-sm);
  color: var(--text-title);
}

p{
  font: var(--body-lg);
  color: var(--text-body);
}

